#main {
    min-height: 80vh;
}

header {
    background-color: black;
    color: white;
    padding: 0.75rem 1.25rem;
}

footer {
    background-color: black;
    color: white;
    margin-top: 10%;
    padding: 0.75rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.product-item {
    width: 33%;
    padding: 10px;
}

.product-image {
    width: 100%;
}

.center-on-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
